# Set Cache lengths for files
<IfModule mod_expires.c>

 ExpiresActive on

  <FilesMatch "\.(jpe?g|png|gif|)$">

    ExpiresDefault "access plus 1 hour"

  </FilesMatch>

   <FilesMatch "\.(css|js|svg|)$">

      ExpiresDefault "access plus 1 year"

  </FilesMatch>

</IfModule>