html, body {
    height:100%;
    font-family: 'Spectral', serif;
    scroll-behavior: smooth;
}

.main {
    margin-top: -66px;
    padding-top: calc(2.5rem + 66px);
    padding-bottom: calc(108px + 2.5rem);
}

.page-container {
    position: relative;
    min-height: 100%;
}

.btn-submit {
    background-color: #222;
    color: #DDD;
}

a {
    color:#333;
}

a:hover {
    color: #555;
}

.btn-delete {
    background-color: rgb(126, 25, 25);
    color: #DDD;
}

.btn-delete:hover {
    color: white;
}

/*Homepage*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #DDD;
}

#hero {
    min-height: calc(100% - 66px);
    background-image: url("../img/hero-desktop.jpg");
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.35);
}

.title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #DDD;
    transform: translateY(calc(-50% - 66px));
}

.titlesignature {
    max-width: 100%;
    max-height: 100%;
}

.scrollcontainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #EEE;
    text-align: center;
}

.scrollmore {
    font-size: 1.2rem;
    margin-bottom: -5px
}

a.scrollmore:link, a.scrollmore:visited {
    text-decoration: none;
    color: #EEE;
}

a.scrollmore:hover {
    color: white;
}

.home-text {
    background-color: #222;
    color: #DDD;
    box-shadow: 0 0 10px black;
    position: relative;
    z-index: 1 !important;
}

#info {
    background-image: url("../img/info-desktop.jpg");
    position: relative;
}

#info::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

.feature {
    z-index: 1 !important;
}

.feature-fit {
    max-width: 100%;
}

.carousel-inner > *{
    width:100%;
    max-height: 100vh !important;
}

.carousel-item {
    object-fit: cover;
    font-size: 1.2em;
}

.carousel-caption {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.35);
}

.image-center {
    overflow: hidden;
    display: flex;
}
.image-center img {
    width: 100%;
    align-self: center;
}

.image-center a, .image-center a:visited {
    color: white;
}

.image-center a:hover {
    color:#DDD;
}

#links{
    scroll-snap-align: start;
}

/*Form Tweaks*/
.form-border {
    background-color: #DDD;
}

/*Search Tweaks*/

.sticky-search{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

@media (min-width: 992px){
    .sticky-search{
        position: sticky;
        top: 0;
    }
}

/*Select2 Tweaks*/

.select2-container {
    width:100% !important;
}

/*Fancybox Tweaks*/

.fancybox-thumbs {
    top: auto !important;
    width: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    right : 0 !important;
    height: 95px !important;
    padding: 10px 10px 5px 10px !important;
    box-sizing: border-box !important;
    background: black !important;
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0 !important;
    bottom: 95px !important;
}

.fancybox-thumbs__list a::before {
    border: 5px solid white !important;
}

.fancybox-caption__body p{
    margin-bottom: 5px !important;
}

.fancybox-bg {
    opacity: 0.8 !important;
}

/*Navbar*/

.custom-nav {
    background-color: #222;
    z-index: 1000;
}

/*Footer*/

.footer {
    background-color: #222;
    color: #CCC;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-copyright {
    color: #999;
}

.footer-link, .footer-link:visited {
    color: #CCC;
}

.footer-link:hover {
    color: white;
}