html, body {
    height:100%;
}

/*Homepage*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero {
    min-height: 100%;
    background-image: url("S_7100_-0605.jpg");
    position: relative;
    background-position: right;
}

.title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.border {
    font-size: 25px;
    padding: 18px;
    background-color: #111;
}